*{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}
/* ad */
#header > img {
    position: absolute;
    height: 79px;
    left: 0px;
    top: 0px;
}
/* logo */
#header > a > img {
    position: absolute;
    width: 120px;
    height: 78px;
    left: 43px;
    top: 85px;
}
/* sep */
hr {
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 168px;
    
    border: 1px solid #000000;
    transform: rotate(0.08deg);
}
/* nav 1 */
#nav_1 {
    position: absolute;
    width: 146px;
    height: 34px;
    left: 1076px;
    top: 135px;
    
    background: #C4C4C4;
}
/* nav 2 */
#nav_2 {
    position: absolute;
    width: 146px;
    height: 34px;
    left: 1258px;
    top: 135px;

    background: #C4C4C4;
}
/* contents */
#container {
    position: absolute;
    top: 180px;
}