* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
}
input {
    cursor: text;
}

html,
body {
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.image.middle-banner-1 {
    background: url('../image/중간수정배너1.jpg');
}
.image.middle-banner-2 {
    background: url('../image/중간수정배너2.jpg');
}
.image.middle-banner-3 {
    background: url('../image/중간수정배너3.jpg');
}

.logo.school {
    background: url('../image/school.png');
}
.logo.github {
    background: url('../image/github.png');
}

.site-header {
    width: 100%;
    height: 62px;
    padding: 16px;
    background-color: #24292f;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
.site-header a {
    color: #fff;
}
.site-header .header-left {
    margin-left: 10px;
    display: flex;
}
.site-header .header-left .title {
    margin-right: 10px;
    font-weight: 700;
    font-size: 1.3rem;
}
.site-header .header-left .header-menu {
    display: flex;
}
.site-header .header-left .header-menu .menu {
    padding: 0 5px;
    line-height: 30px;
}
.site-header .header-right i {
    line-height: 30px;
    color: #fff;
}

.site-footer {
    width: 100%;
    background-color: #24292f;
    color: #fff;
    text-align: center;
}
.site-footer.sticky {
    position: absolute;
    right: 0;
    bottom: 0;
}
.site-footer .footer-wrapper {
    margin: 16px auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.site-footer .footer-wrapper .logo-wrapper {
    display: flex;
}
.site-footer .footer-wrapper .logo-wrapper .logo {
    margin: 10px;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}
.site-footer .footer-wrapper .information {
    margin: 4px;
    margin-left: 15px;
    text-align: left;
}

#popup-user {
    padding: 10px 0;
    min-width: 150px;
    background-color: #fff;
    position: absolute;
    top: 72px;
    right: 10px;
    box-shadow: 0 0 15px 0 grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    border-radius: 10px;
    color: #000;
    z-index: 989;
}
#popup-user a:-webkit-any-link {
    color: #000;
}
#popup-user hr {
    margin: 8px 0;
    width: 100%;
}
#popup-user .title {
    padding: 0 10px;
    width: 100%;
}
#popup-user .title .head {
    margin: 10px 0;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    font-size: 1.2rem;
}
#popup-user .menu {
    padding: 5px 10px;
    width: 100%;
}
#popup-user .menu:hover {
    background-color: #0969da;
    color: #fff;
}

.wrapper {
    padding-top: 62px;
    min-height: calc(100% - 136px);
}
