
.image.middle-banner-1 {
    background: url('../image/중간수정배너1.jpg');
}
.image.middle-banner-2 {
    background: url('../image/중간수정배너2.jpg');
}
.image.middle-banner-3 {
    background: url('../image/중간수정배너3.jpg');
}

.logo.school {
    background: url('');
}
.logo.contest {
    background: url('');
}