<div class="title-area">
    <div class="title">썸네일 제작해드립니다</div>
</div>
<div class="main">
    <div class="list">
        <div class="head">
            <div class="title">Creator A</div>
        </div>
        <div class="image-view">
            <div class="image-wrapper">
                <div class="image creator-1"></div>
                <div class="contact-button">1:1 채팅하기</div>
            </div>
        </div>
    </div>
</div>
