<div class="search-area">
    <div class="title">영상 편집자, 일러스트레이터를 찾고 있다면?</div>
    <div class="search-box">
        <input
            class="input-area"
            name="input"
            placeholder="누구를 찾고 있나요?"
        />
        <div class="search-button">
            <i class="clickable fas fa-search fa-lg"></i>
        </div>
    </div>
</div>
<div class="area">
    <div class="title">이런 사람을 찾고 계시나요?</div>
    <div class="image-view">
        <div class="image-wrapper">
            <a class="image middle-banner-1 clickable" href="/people?&category=1">
                유튜브 편집/썸네일
            </a>
        </div>
        <div class="image-wrapper">
            <a class="image middle-banner-2 clickable" href="/people?&category=2">
                일러스트/이모티콘/캐릭터
            </a>
        </div>
        <div class="image-wrapper">
            <a class="image middle-banner-3 clickable" href="/people?&category=3">
                방송 매니저
            </a>
        </div>
        <div class="image-wrapper">
            <div class="image">준비중</div>
        </div>
    </div>
</div>
