<div class="title-area">
    <div class="title">사람을 찾고 있나요?</div>
</div>
<div class="main">
    <div class="sidebar">
        <div class="clickable item first selected">전체</div>
        <div class="clickable item">유튜브 편집/썸네일</div>
        <div class="clickable item">일러스트/이모티콘/캐릭터</div>
        <div class="clickable item last">방송 매니저</div>
    </div>
    <div class="list">
        <div class="head">
            <div class="title">전체보기</div>
            <button>등록</button>
        </div>
        <div class="image-view">
            <div class="image-wrapper">
                <div class="image middle-banner-1 clickable"></div>
                <div class="image-title clickable">유튜브 편집/썸네일</div>
                <div class="image-value">Creator A</div>
            </div>
            <div class="image-wrapper">
                <div class="image middle-banner-2 clickable"></div>
                <div class="image-title clickable">일러스트/이모티콘/캐릭터</div>
                <div class="image-value">Creator B</div>
            </div>
            <div class="image-wrapper">
                <div class="image middle-banner-3 clickable"></div>
                <div class="image-title clickable">방송 매니저</div>
                <div class="image-value">Creator C</div>
            </div>
            <div class="image-wrapper">
                <div class="image middle-banner-3 clickable"></div>
                <div class="image-title clickable">방송 매니저</div>
                <div class="image-value">Creator D</div>
            </div>
        </div>
    </div>
</div>
